.counter-container {
  padding: 5px;
  display: flex;
  margin: auto;
  border-bottom: 2px solid #aeaeae;
  user-select: none;
}

.counter-container > div {
  margin: auto;
  font-size: 2em;
}

.drink-logo {
  max-height: 40px;
  vertical-align: bottom;
  padding-left: 20px;
  cursor: pointer;
}
